.estilos{
/*fondo gris clarito*/
background-color: #e5e5e5;
/*fuente*/
font-family: 'poppins', sans-serif;
/*h2 gris medio*/
color: #333;
/*borde bottom*/
border-bottom: 2px solid #d9d9d9;
/*icono imagen claro*/
color: #d9d9d9;
/*VERDE CLARO*/
background-color: #38d39f;
}
