*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'poppins', sans-serif;
    background-color: #e5e5e5;
}

/*----------VISTA LOGIN---------------*/
.wave{
    position:fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*buscar significado*/
    grid-gap: 7rem;
    padding: 0 2rem;
}
.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login-content{
    display: flex;
    align-items: flex-start;
    text-align: center;
    text-align: center;
}
.img img{
    width: 50rem;
    margin-bottom: 10rem;
}
/*Formulario de ingreso*/
form{
    width: 36rem;
}
.login-content img{
    height: 10rem;
    border-radius: 50%;
    margin-top: 5rem;
}
.login-content h2{
    margin: 1.5rem 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}
.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.login-content .input-div.one{
	margin-top: 0;
}
.i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d9d9d9;
}
.i i{
    transition: .3s;
    font-size: 2rem;
}
.input-div > div{ /*buscar*/
    position: relative;
    height: 4.5rem; 
}
.input-div > div h5{
    position:absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%); /*buscar*/
    color: #999;
    font-size: 1.8rem;
    transition: .3s; 
}
.input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -0.2rem;
    width: 50%;
    height: 0.2rem;
    background-color: #38d39f;
    transition: .4s;
}
.input-div:before{
    right: 50%;
}
.input-div:after{ 
    left: 50%;
}
.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}
.input-div.focus > div > h5{
	top: -0.5rem;
	font-size: 1.5rem;
}
.input-div.focus > .i > i{
	color: #38d39f;
}
.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}
.input-div.pass{
	margin-bottom: 0.4rem;
}
a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 1.5rem;
    transition: .3s;
}
a:hover{
    color: #38d39f;
}
.login-btn{
  display: block;
  width: 100%;
  height: 5rem;
  border-radius: 2.5rem;
  outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.login-btn:hover{
	background-position: right;
}

/*---------Mediaqueries LOGIN----------*/
@media screen and (max-width:1050px){
    .container{
        grid-gap: 5rem;
    }
}
@media screen and (max-width:1000px){
    form{
        width: 29rem;
    }
    .login-content h2{
        font-size: 2.4rem;
        margin: 0.8rem 0;
    }
    .img img{
        width: 40rem;
    }
}
@media screen and (max-width:900px){
    .img{
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .wave{
        display:none;
    }
    .login-content{
        justify-content: center;
    }
}

/*----------VISTA REGISTRO------------*/
.register-view{
  background-color: #e5e5e5;
  max-width: 80rem;
  width: 90%;
  margin: auto;
  padding: 4rem;
}
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /*espaciado entre cada elemento de la grid*/
  }
  .formulario--label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
  }
  .formulario--grupo-input {
    position: relative;
  }
  .formulario--input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0px 40px 0px 10px;
    transition: .3s ease all;
  }
  .formulario--input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
  }
  .formulario--input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
  }
  .formulario--input-error-activo {
    display: block;
  }
/*el icono*/
  .formulario--validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    opacity: 0;
    font-size: 16px;
  } 
  .formulario--checkbox {
    margin-right: 10px;
  }
  .formulario--grupo-terminos,
  .formulario--mensaje,
  .formulario--grupo-btn-enviar{
    grid-column: span 2; /*con esto hacemos que el elemento abarque 2 colum*/
  } 
  .formulario--mensaje {
    height: 45px;
    line-height: 45px;
    background-color: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
  }
  .formulario--mensaje-activo {
    display: block;
  } 
  .formulario--mensaje p {
    margin: 0;
  } 
  .formulario--grupo-btn-enviar {
    display: flex;
    flex-direction: colum; /*con esto el mensajito queda abajo*/
    align-content: center;
  }
  .formulario--btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
  }
  .formulario--btn:hover {
    box-shadow: 3px 0px 30px regba(163, 163, 163 1);
  }  
  .formulario--mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
  }
  .formulario--mensaje-exito-activo {
    display: block;
  }
  /*----estilos para validacion----*/
  .formulario--grupo-correcto .formulario--validacion-estado{
    color: #1ed12d;
    opacity: 1;
    /*el icono cambia con js*/
  }
  .formulario--grupo-incorrecto .formulario--label {
    color: #bb2929;
  }
  .formulario--grupo-incorrecto .formulario--validacion-estado{
    color: #bb2929;
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 1;
  }  
  .formulario--grupo-incorrecto .formulario--input{
    border: 3px solid #bb2929;
  }
  
  /*---------Mediaqueries REGISTRO----------*/
  @media screen and (max-width: 800px){
    .formulario {
      grid-template-columns: 1fr;
    }
    .formulario--grupo-terminos,
    .formulario--mensaje,
    .formulario--grupo-btn-enviar{
      grid-column: span 1; /*con esto hacemos que el elemento abarque 1 colum*/
    }
    .formulario--btn {
      width: 100%;
    }
  } 


